/* All */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Segoe UI",Arial,sans-serif;
}
/*= All =*/

/* Elements */
a {
    text-decoration: none;
}

/* Header Sectio */
/*--- Nav Section ---*/
header nav {
    height: 15vh;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
}

/*-- Upper Nav Section --*/
.upperNav {
    height: 60%;
    background-color: #fff;
    position: relative;
}

/*- Left Part -*/
.upperNav .leftPart {
    overflow: hidden;
    height: 100%;
    width: fit-content;
}

/* Logo */
.upperNav .leftPart .logo {
    height: 62px;
}

/* Main Menu */
.upperNav .leftPart .mainMenu {
    display: inline-block;
    list-style: none;
    height: 100%;
    position: relative;
    bottom: 45px;
    right: 5px;
    margin-left: 5px;
}

.upperNav .leftPart .mainMenu li {
    display: inline-block;
    height: 100%;
    margin-left: -3.7px;
    padding: 0 20px;
}

.upperNav .leftPart .mainMenu li::after {
    content: "";
    position: absolute;
    top: 25px;
    border-style: solid;
    border-width: 6px;
    border-color: #333 transparent transparent transparent;
}

.upperNav .leftPart .mainMenu li:hover, 
.upperNav .leftPart .mainMenu li a span:hover {
    background-color: #04AA6D;
    color: #fff;
}

.upperNav .leftPart .mainMenu li a {
    color: #000;
    font-weight: lighter;
}
.upperNav .leftPart .mainMenu li a span {
    vertical-align: -20px;
    font-size: 1.3rem;
    margin-right: 3px;
}

/* Search */
.upperNav .leftPart .search {
    margin-left: 10px;
    position: relative;
    top: -28px;
    padding: 13px 25px;
    border-radius: 30px;
    border: 1px solid #c4c3c3;
}

.upperNav .leftPart .search:focus {
    outline: solid #04AA6D;
}

.upperNav .leftPart .search::-ms-input-placeholder {
    font-size: 1.3em;
}
  
::placeholder {
    font-size: 1.3em;
}

.upperNav .leftPart .searchIcon {
    position: absolute;
    top: 8px;
    right: 715px;
    cursor: pointer;
    border-radius: 50px;
    padding: 7px;
}

.upperNav .leftPart .searchIcon img {
    width: 30px;
}

/* Backgroud Of Website */
.upperNav .leftPart .contianer-background {
    position: absolute;
    top: 8px;
    right: 650px;
    padding: 9px;
    border-radius: 50%;
}

.upperNav .leftPart .contianer-background:hover {
    background-color: rgba(201, 201, 201, 0.5);
}

.upperNav .leftPart .contianer-background .background {
    width: 20px;
    height: 20px;
    background-color: #000;
    border: 3px solid #000;
    border-radius: 50%;
    overflow: hidden;
}

.upperNav .leftPart .contianer-background .background span {
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: #fff;
}
/*/ Left Part /*/


/* Right Part */
.upperNav .rightPart {
    display: inline-block;
    width: fit-content;
}

.upperNav .rightPart .submenu {
    display: inline-block;
    list-style: none;
    height: 100%;
    position: relative;
    bottom: 50px;
    left: 930px;
}

.upperNav .rightPart .submenu li {
    display: inline-block;
    height: 100%;
    margin-left: -3.7px;
    padding: 5px 20px;
}

.upperNav .rightPart .submenu li a {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #000;
}

.upperNav .rightPart .submenu li:hover {
    background-color: rgba(201, 201, 201, 0.5);
    border-radius: 60px;
}

/*  */
.upperNav .rightPart .rigLog {
    background-color: #d6f8d7;
    width: fit-content;
    border-radius: 90px;
    font-size: 1.2em;
    position: relative;
    bottom: 90px;
    left: 1320px;
    overflow: hidden;
}

.upperNav .rightPart .rigLog button {
    color: #fff; 
    padding: 22px 30px;
    margin: -9px;
    font-size: 0.8em;
    font-weight: lighter;
    border: none;
}

.upperNav .rightPart .rigLog button a {
    color: #000;
}

.upperNav .rightPart .rigLog .sign {
    background-color: #04AA6D;
    position: relative;
    border-radius: 50%;
    z-index: 10;
    margin-right: -20px;
}

.upperNav .rightPart .rigLog .sign a {
    color: #fff;
}

.upperNav .rightPart .rigLog .log {
    background-color: #d6f8d7;
    color: #000;
}

.upperNav .rightPart .rigLog .log:hover,
.upperNav .rightPart .rigLog .sign:hover,
.upperNav .rightPart .rigLog button a:hover {
    background-color: #02a066;
    color: #fff;
}
/* .upperNav .righrPart . */
/*/ Right Part /*/
/*// Upper Nav Section //*/


/*-- Lower Nav Section --*/
.lowerNav {
    height: 40%;
    background-color: #444;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.lowerNav ul {
    list-style: none;
    height: 100%;
}

.lowerNav ul li {
    display: inline-block;
    line-height: 2.5;
    height: 100%;
    cursor: pointer;
    padding: 0 10px;
    margin: 0px 0px 0px 3px;
}

.lowerNav ul li, .lowerNav ul li a {
    color: #fff;
}

.lowerNav ul li:hover {
    background-color: #333;
}
/*// Lower Nav Section //*/
/*/// Nav Section ///*/
/*= Header Sectio =*/
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Main Section */
/*--- Sidebar ---*/
main .sidebar {
    margin-top: 15vh;
    max-width: 20%;
    height: 85vh;
    background-color: rgb(228, 228, 228);
    overflow: auto;
    padding-bottom: 40px;
    display: inline-block;
    position: fixed;
    z-index: 1000;
}

/* Title Of Sidebar */
main .sidebar h2 {
    padding: 30px 15px 15px;
    font-weight: 400;
}

/* List Of Sidebar */
main .sidebar ul li {
    list-style: none;
}

main .sidebar ul li {
    padding: 5px 50px;
}

main .sidebar ul li:hover {
    background-color: silver;
}

main .sidebar ul li a {
    color: #000;
    font-size: 1.1em;
    font-weight: 400;
}

main .sidebar ul .active, main .sidebar ul .li .active {
    color: #fff !important;
    background-color: #02a066;
}
/*/// Sidebar ///*/
/* =========================================================================================================================================== */
/*--- Tutorial ---*/
main .tutorial {
    max-width: 70vw; 
    height: 100vh;
    position: relative;
    left: 299px;
    top: 101px;
}

/* Title Of This Tutorial */
main .tutorial h1 {
    font-weight: 400;
    font-size: 3em;
    margin-left: 35px;
    padding-top: 110px;
}

/* Buttons */
main .tutorial button {
    margin-top: 20px;
    background-color: #04AA6D;
    border: 1px solid #02a066;
    padding: 10px 25px;
    border-radius: 5px;
}

main .tutorial button a {
    color: #fff;
    font-size: 1.5em;
}

main .tutorial .home {
    margin-left: 35px;
}


main .tutorial .next {
    margin-left: 750px;
}

main .tutorial .home::before {
    content: "<";
    color: #fff;
    font-size: 2em;
    margin-right: 5px;
}

main .tutorial .next::after {
    content: ">";
    color: #fff;
    font-size: 2em;
    margin-left: 5px;
    margin-top: 50px;
}

/* Study Section */
main .tutorial .study {
    margin-top: 25px;
    padding: 32px;
    background-color: #D9EEE1;
}

main .tutorial .study p {
    font-size: 1.1em;
    margin-top: 20px;
}

/* Easy Lerning */
main .tutorial .easyLerning {
    margin: 50px 30px;
}

main .tutorial .easyLerning h2 {
    font-size: 2.2em;
    font-weight: 400;
}

main .tutorial .easyLerning p {
    margin-top: 20px;
    font-size: 1.2em;
}

/* Example */
main .tutorial .example {
    margin-left: 10px;
    background-color: #E7E9EB;
    padding: 30px;
    border-radius: 10px;
}

main .tutorial .example h2 {
    font-size: 1.9em;
    font-weight: 400;
}

main .tutorial .example .ex {
    background-color: #fff;
    width: 100%;
    height: 300px;
    font-size: 3em;
    margin: 20px 0 5px;
    border-left: 5px solid #04AA6D;
}

main .tutorial .example button a {
    font-size: 1.25em;
    font-weight: 700;
}

main .tutorial h3 {
    margin: 15px 25px;
    font-size: 1.2em;
    font-weight: 500;
}

/* Examples */
main .tutorial .examples {
    margin-left: 10px;
    padding: 30px;
    border-radius: 10px;
}

main .tutorial .examples h2 {
    font-size: 1.9em;
    font-weight: 400;
}

main .tutorial .examples p {
    margin-top: 20px;
    font-size: 1.2em;
}

main .tutorial .examples button {
    background-color: #E7E9EB;
    font-size: 0.7em;
    border: none;
}

main .tutorial .examples button:hover, 
main .tutorial .examples button a:hover {
    background-color: #04AA6D;
    color: #fff;
}

main .tutorial .examples button a {
    color: #000;
    font-weight: 600;
}

/* Exercises */
main .tutorial .exercises {
    padding: 30px;
    border-radius: 5px;
}

main .tutorial .exercises h2 {
    font-size: 2.2em;
    font-weight: 400;
}

main .tutorial .exercises p {
    margin-top: 20px;
    font-size: 1.2em; 
}

main .tutorial .exercises .testExercises {
    background-color: #282A35;
    width: 100%;
    border-radius: 10px;
    margin: 35px 0 5px;
    padding: 35px 25px;
}

main .tutorial .exercises .testExercises h2 {
    color: #fff;
}

main .tutorial .exercises .testExercises .test {
    background-color: #fff;
    padding: 10px 15px;
    margin: 50px 0 -10px;
}

main .tutorial .exercises .testExercises .test h2 {
    font-size: 2em;
    color: #000;
}

main .tutorial .exercises .testExercises .test .pEx {
    background-color: #E7E9EB;
    margin: 25px 5px 10px;
    font-size: 1.5rem;
    padding: 20px;
}

main .tutorial .exercises .testExercises .test .pEx input {
    width: 60px;
    height: 30px;
    border: none;
}

main .tutorial .exercises .testExercises .test button {
    font-size: 0.75rem;
    font-weight: 500;
}

main .tutorial .exercises .testExercises .test button:hover {
    background-color: #02a066;
}

main .tutorial .exercises .testExercises .test .startExercise {
    display: block;
    width: fit-content;
    font-size: 1.13rem;
    text-decoration: underline;
    margin: 30px 0;
    color: #000;
}

main .tutorial .exercises .testExercises .test .startExercise:hover {
    color: #04AA6D;
}

/* Quiz Test & My Learning & HTML Ref */ 
.tutorial .quizTest, .tutorial .myLearning, .tutorial .htmlRef {
    padding: 25px;
}

.tutorial .quizTest h2, .tutorial .myLearning h2, .tutorial .htmlRef h2 {
    font-size: 2.2rem;
    font-weight: 400;
}

.tutorial .quizTest p, .tutorial .myLearning p, .tutorial .htmlRef p {
    font-size: 1.2rem;
    margin: 20px 0;
}

main .tutorial .quizTest button {
    background-color: #2196F3;
    border: none;
    cursor: pointer;
    margin-top: 0px;
}

main .tutorial .quizTest button:hover {
    background-color: #117dd4;
}

main .tutorial .myLearning img {
    width: 100%;
    margin-top: 5px;
}

main .tutorial .htmlRef .references a {
    color: #000;
    font-size: 1rem;
}


main .tutorial .htmlRef .references a .cont {
    width: 30%;
    height: 10%;
    background-color: #E7E9EB;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 5px;
} 

main .tutorial .htmlRef .references a .cont:hover {
    background-color: #000;
    color: #fff;
} 

main .tutorial .htmlRef .references a .cont h3{
    font-weight: 400;
}

/* Video */
main .tutorial .video {
    margin-top: 30px;
    text-align: center;
}

main .tutorial .video h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2px;
}

main .tutorial .video img {
    width: 80%;
    border-radius: 10px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Footer Section */
footer {
    max-width: 100vw;
    background-image: url("images/footer.jpg");
    background-size: cover;
    margin-top: 100px;
    padding: 100px;
}

footer img {
    width: 70px;
}

footer .mainTitles ul {
    list-style: none;
}

footer .mainTitles ul li {
    display: inline-block;
    margin-top: 100px;
    margin-left: 30px;
}

footer .mainTitles ul li a {
    font-size: 1.13rem;
    color: rgb(255, 232, 103);
    font-weight: 400;
}

footer .mainTitles ul li a:hover {
    text-decoration: underline;
}

footer .finsh-3wscool {
    width: 75%;
    margin-top: 100px;
}

footer .finsh-3wscool p {
    font-size: 0.8rem;
    color: #fff;
    margin: 20px;
}
/*= Footer Section =*/
/*/// Tutorial ///*/
/*= Main Section =*/
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* searchTPage */
.searchTPage {
    margin-top: 40px;
    margin-left: 20px;
}

.searchTPage h2 {
    font-size: 2rem;
    font-weight: 400;
}

.searchTPage input {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
}

.searchTPage input:after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    font-size: 24px;
    color: #cccccc;
    top: 6px;
    left: 12px;
}

/* Table For Tags */
.tTags {
    border: 1px solid #c7cace;
    width: 95%;
    margin: 30px auto;
    font-size: 1.2rem;
}

.tTags th, .tTags td {
    padding: 10px;

}
.tTags tr:nth-child(even) {
    background-color: #ddd;
  }